{% extends 'base.html' %}

{% block content %}

<h2>Log In</h2>
<form method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type = "submit">Log In</button>
</form>

{% endblock content %}

<!-- NOTE

As the LoginView documentation notes, by default Django will look within a templates
folder called registration for a file called login.html for a log in form. So we need to
create a new directory called registration and the requisite file within it.

-->