{% load static %}
<!--contains CSS codes-->
<!--div is used so that two codes can work seperately with proper space gap-->
<html>

<head>

    <title>Blog Forms App</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Django Forms</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}">New Blog +</a>
        </div>
    </header>
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }} !</p>
    <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>          <!-- created by myself :) -->
    <p>New User ?<a href ="{% url 'signup' %}"><br><br>Sign Up</a>
    </p>
    {% endif %}
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>